html, body {
    height: 100%;
    font-family: '微软雅黑',"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
    background: #fff;
}
.panel-body {
    padding:15px 0 5px 0;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.panel-body h1 {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
}

.post-tags {
    color: #999;
    font-size: 12px;
}

.post-tags span{
    margin-right:4px;
}

.post-tags a {
    color: #999;
}
/*标签云*/
.tag-cloud a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #333;
    line-height: 2em;
    display: inline-block;
    font-size:14px;
    margin: 0 7px 7px 0;
    transition: all 0.2s ease;
}

.tag-cloud a:hover {
    background-color:#5bc0de;
    text-decoration: none;
    color:#fff;
}
.browser {
    font-size:12px;
    color:#999;
}

.post-label {
    border-radius: 0;
    margin-bottom: 5px;
    position: relative;
}

.post-label {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    line-height: 1.42857;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
}

.post-label > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 150px;
    width: 100%;
}
/*�������� */
.hot-list .media-left a{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    line-height: 22px;
    background: #5cb85c;
    width: 45px;
    display: block;
    height: 48px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.media-left em {
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    display: block;
    line-height: 26px;
    color: #333;
    font-style: normal;
}

.hot-list {
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
}

.media-right {
    line-height:24px;
}

.hot-body {
    padding:0px;
}

.hover-style ul li{border-bottom: 1px #eee solid;border-left: 4px #fff solid;margin-left:-4px;}
.hover-style ul li:hover{border-left: 4px #35b558 solid;background:#fafff8;}
.box-title {color: #333;font-size:18px;border-bottom: 2px solid #CBCBCB;padding-bottom: 5px;}
.cat {
    color:#999;
    font-size:14px;
}
.top {
    font-size: 12px;
    background: #5bc0de none repeat scroll 0 0;
    border: 1px solid #5bc0de;
    color: #fff;
    margin-left: 4px;
    padding: 2px 7px;
}
.container a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.font-12 {
    font-size: 12px;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.panel-ul ul{
    padding-left:0px;
}

.panel-ul ul li{
    list-style-type:none;
    margin-bottom:10px;
}
.page-header{
    margin-top:0px;
}

.panel-banner {
    margin-bottom:10px;
}

.summary{
    color: #666;
    line-height: 1.6em;
    padding: 10px;
}

.summary h4 {
    font-size: 18px;
    border-bottom:1px solid;
    margin-top: 10px;
    padding-bottom:6px;
}

.panel .panel-heading .pull-right {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.panel .panel-heading .dow{
    display: inline;
}

.site-about dl dt{
    font-size:18px;
    margin-bottom:5px;
}

.site-about dl dd{
    margin-left:20px;
    padding-bottom:2px;
}

.tuijian{
    padding:0px;
}

.tuijian ul{
    padding-left:0px;
}


.tuijian span{
    font-size: 12px;
    color: #999;
    margin-bottom:0px;
}

.tuijian h3 a{
    color:#666;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.tuijian h3 a:hover{
    color:#35b558;
}

.tuijian .detail{
    height: 48px;
    overflow: hidden;
    line-height: 24px;
    font-size: 14px;
    margin-bottom:0px;
}

.tuijian h3{
    font-size: 18px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    margin:0px;
}

.tuijian ul li{
    list-style-type:none;
    width: 100%;
    padding: 15px;
}
.tuijian ul li .file-alt{float:left;margin-top:3px;}
.tuijian ul li a{
    max-width:90%;
    display:block;
    float:left;
    margin-right:10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.tuijian li img{
    float: left;
    width: 200px;
    height: 100px;
    margin-right:15px;
}

.new ul{
    list-style-type:none;
    padding-left:0px;
}

.new ul li{
    border-bottom: 1px #ccc dashed;
    padding:8px 0;
}

.new ul li i{
    color:#f1504f;
}
/*最新教程*/
.last-post ul .time {float: left;width: 78px;height: 36px;line-height: 36px;text-align: center;color: #616161;font-size: 12px;background: #F2F2F2;font-family: arial;}
.last-post ul .title {height: 36px;line-height: 18px;overflow: hidden;font-size: 14px;color: #3f3f3f;padding-left: 12px;}
.last-post ul .time span.r {font-size: 22px;width: 30px;margin-right: 2px;text-align: right;}
.last-post ul .time span.y {font-size: 12px;margin-left: 5px;position: relative;bottom: 1px;}
.last-post ul .time span{display:inlie-block;}
.last-post ul li.hov {border-bottom: dotted 1px #DB6D4C;}
.last-post ul li.hov .time {background: #DB6D4C;color: #fff;}
.last-post ul li.hov .title {color: #DB6D4C;}
.last-post ul li{margin:0;padding:10px 0;}